@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@keyframes borderAnimation {
  0% {
    box-shadow:
      0 0 0 1px #9333ea,
      0 0 20px 2px rgba(147, 51, 234, 0.3);
  }
  50% {
    box-shadow:
      0 0 0 2px #9333ea,
      0 0 30px 4px rgba(147, 51, 234, 0.5);
  }
  100% {
    box-shadow:
      0 0 0 1px #9333ea,
      0 0 20px 2px rgba(147, 51, 234, 0.3);
  }
}

.animate-border {
  animation: borderAnimation 3s infinite ease-in-out;
}

.font-cinema {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
}

@media (max-width: 420px) {
  .absolute.top-0 > div,
  .absolute.bottom-0 > div {
    width: 3rem;
    height: 3rem;
  }
}
