video {
  display: block;
}

@media (max-width: 420px) {
  .banner-max-w-2xl {
    max-width: 92%;
  }
  .banner-h1 {
    font-size: 1.6rem;
  }
  .banner-p {
    font-size: 0.9rem;
  }
}

.banner-title {
  font-family: "Dancing Script", cursive;
}
